@page
@using Microsoft.Extensions.Localization
@using ShopNServe.Localization
@using ShopNServe.Web.Pages.ShopNServe
@model ShopNServe.Web.Pages.ShopNServe.IndexModel
@inject IStringLocalizer<ShopNServeResource> L

@{
}
<h1>ShopNServe</h1>
<p>@L["SamplePageMessage"]</p>
