@using Microsoft.AspNetCore.Mvc.Localization
@using ShopNServe.PublicWeb.Localization
@inject IHtmlLocalizer<PublicWebResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
