@using Microsoft.AspNetCore.Mvc.Localization
@using ShopNServe.AdminPanel.Localization
@inject IHtmlLocalizer<AdminPanelResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
